{% from '_macros.html' import show_job, show_jobs with context %}
<!doctype html>
<html>
  <head>
    <title>Job Board</title>
    <!-- load css this order to avoid w3 stepping on bulma -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
    
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('jobs') }}">
          <img src="{{ url_for('static', filename='images/jb-logo.png')}}" width="112" height="28" alt="JobBoard">
        </a>
        <!-- <a class="navbar-item" href="{{ url_for('jobs') }}">Job BoardExample</a> -->
      </div>
      <!-- <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"href="{{ url_for('jobs') }}">Jobs</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item"href="{{ url_for('jobs') }}">Employer</a>
        </div> -->

      </div>
    </nav>
    <div class="container top">

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/w3codecolor.js')}}">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}">
    </script>
    <!-- <script src="https://www.w3schools.com/lib/w3codecolor.js"></script> -->
  </body>
</html>
